
# --- Godot local/editor state ---
.godot/
!.godot/imported/

# Godot 3 imported assets
.import/

# Mono / C# data
.mono/
data_*/mono/

# --- OS / editor junk ---
# Windows / Mac
Thumbs.db
.DS_Store

# Logs / temps
*.log
*.tmp

# IDE / editor folders
.vs/
.vscode/
.idea/